<%= form_for(@news_blast) do |f| %>
  <% if @news_blast.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@news_blast.errors.count, "error") %> prohibited this news_blast from being saved:</h2>

      <ul>
      <% @news_blast.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date %><br />
    <%= f.date_select :date %> 
  </div>
  <div class="field">
    <%= f.label :headline %><br />
    <%= f.text_field :headline %>
  </div>
  
  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_field :content, :id => 'dyn_0', :name => 'dyn[0]' %>
    
    <span class="more-items">
	  <a id="add-item-enabled" href="#add-item" onclick="additems();">more <span class="plus">+</span></a>
	</span>
	  
	<span class="less-items">
	  <a id="rem-item-enabled" href="#rem-item" onclick="remitems();">delete <span class="plus">-</span></a>
	</span>
  </div>
  
  <%= hidden_field_tag :content %>
  
  
  
  
  
  <div id="inputBottom"></div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
