<!-- Show My Account page -->










<!--  OLD VERSION FROM TWITTER -->


<table class="profile" summary="Profile information">
  <tr>
    <td class="main">
      <h1>
        <%= gravatar_for @user %>
      </h1>
      <%= render 'follow_form' if signed_in? %>
      <%# unless @user.microposts.empty? %>
        <table class="microposts" summary="User microposts">
          <%# render @microposts %>
        </table>
        <%# will_paginate @microposts %>
      <%# end %>
    </td>
    <td class="sidebar round">
      <strong>Name</strong> <%= @person.first_name %> <%= @person.last_name %> <br />
      <strong>URL</strong>  <%= link_to user_path(@user), @user %><br />
      <strong>Microposts</strong> <%# @user.microposts.count %>
      <%# render 'shared/stats' %>
    </td>
  </tr>
</table>

<%= render 'users/person_info'%>

<%= render 'users/employee_info'%>



<% if @user.admin? %>

<h1>Site Management</h1>

<%= link_to "News Blast", { :controller => "news_blasts", :action => "new" } %>
<br>
<p>Manage Employees (set user to manager, or visa versa)</p>


<% end %>
