<% if !@news_blast.nil? %>

<div id="news-blast" style="text-align:center; border-width:thin; border-style:solid; ">
	<div id="nb-title"><p><b>NEWS BLAST</b></p> </div>
	<div id="nb-headline"><%= @news_blast.headline%></div>
	<div id="nb-date"><b>- <%= @news_blast.date.strftime("%b %e") %> -</b> </div>
        <p><%= @news_blast.content %></p>

        <% if @news_blast.content1 != nil%>
          <br/>
          <p><%= @news_blast.content1 %></p>
        <% end %>

        <% if @news_blast.content2 != nil %>
          <br/>
          <p><%= @news_blast.content2 %></p>
        <% end %>
        <% if @news_blast.content3 != nil%>
          <br/>
          <p><%= @news_blast.content3 %></p>
        <% end %>
        <% if @news_blast.content4 != nil%>
          <br/>
          <p><%= @news_blast.content4 %></p>
        <% end %>
        <% if @news_blast.content5 != nil%>
          <br/>
          <p><%= @news_blast.content5 %></p>
        <% end %>
        <% if @news_blast.content6 != nil%>
          <br/>
          <p><%= @news_blast.content6 %></p>
        <% end %>
        <% if @news_blast.content7 != nil%>
          <br/>
          <p><%= @news_blast.content7 %></p>
        <% end %>

	<%# render :partial => 'shared/news_blast_item', :collection => @news_blast.content, :spacer_template => 'shared/spacer_part' %>  <%# auto iterates since you specify a collection, and puts in spacer between each element%>
</div>

<% end %>
