<div id="nav-side">
	
	<div>
		<a href="#">
			<img id="brand" src="/images/epdMainLgo.png"/>
		</a>
	</div>
	
	<div id="teal"></div>
	<div id="black-brand-img"></div>

	<ul id="menu">
		<li class="<%= "highlighted" if params[:action] == "home" %>"> <a href='/'> Home </a></li>
		<li class="<%= "highlighted" if params[:action] == "about" %>"><a href="/about">About Us</a></li>
		<li class="<%= "highlighted" if params[:action] == "gallery" %>"><a href="/gallery">Gallery</a></li>
		<li class="<%= "highlighted" if params[:action] == "specials" %>"><a href="/specials">Specials</a></li>
		<li class="<%= "highlighted" if params[:action] == "products" %>"><a href="/products" title="Products and Services" target="_self">Products</a></li>
		<li class="<%= "highlighted" if params[:action] == "news" %>"><a href="/news">News</a></li>
		<li class="<%= "highlighted" if params[:action] == "directions" %>"><a href="/directions">Directions</a></li>
		<% if signed_in? %>
			<li class="<%= "highlighted" if params[:action] == "my_account" %>"><a href="/my_account">My Account</a></li>
			
			<%= link_to @user, user_path(@user) %>
		<% end %>
	</ul>
	

	<div id="directions">
		<ul class="infoz">
			<li>701 Highway 7</li>
			<li>Excelsior MN 55331</li>
	    	<li>phone: 952.474.0162</li>
			<li>fax: 952.474.0162</li>
		</ul>
	</div>


	<div id="hours">
		<ul class="infoz">
			<li><b>Hours:</b> M-F 7:30-6:30;</li>
			<li>SAT 9-5; SUN 11-4</li>
		</ul>
	</div>
</div> <!-- /nav-side -->