<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>Xpd3</title>

	<meta name="Description" content="Excelsior carpet one paint and design center supplies hunter douglas benjamin moore fine paints of europe" /> 
	<meta name="Keywords" content="excelsior, carpet one, color center, benjamin moore, paint, design, hunter douglas, cambria, excelsior carpet one, excelsior minnesota, 55331 excelsior carpet one, minnesota" /> 

	<%= csrf_meta_tag %>
	
	<%= javascript_include_tag 'jquery-1.6.2.min.js'%>
	<%= javascript_include_tag 'users_form' %>
	<script type="text/javascript" src="/javascripts/partners-grid.js"></script>
	
	<link href='http://fonts.googleapis.com/css?family=Questrial' rel='stylesheet' type='text/css'>
	<link type=text/css rel='stylesheet' href='/stylesheets/m.css'>
	<link type=text/css rel='stylesheet' href='/stylesheets/partners-grid.css'>
	

</head>
<body>
	<div class="page-wrap">

		<%# render 'layouts/header' %>
		<%= render 'layouts/navigation' %>
		<%= render 'layouts/flash', :flash => flash %>
		
		<div id="content">
			<%= yield %>
		</div>
	</div>

<%# render 'layouts/footer'%>

<%# debug(params) if Rails.env.development? %>
</body>
</html>
